In [1]:
import os
import pandas as pd

In [2]:
folder_path = 'Forecasts'  # Replace with your folder path
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

In [3]:
districts = ['AHMEDNAGAR', 'AKOLA', 'AMRAVATI', 'AURANGABAD', 'BEED',
       'BHANDARA', 'BULDHANA', 'CHANDRAPUR', 'DHULE', 'GADCHIROLI',
       'GONDIA', 'HINGOLI', 'JALGAON', 'JALNA', 'KOLHAPUR', 'LATUR',
       'MUMBAI', 'NAGPUR', 'NANDED', 'NANDURBAR', 'NASHIK', 'OSMANABAD',
       'PALGHAR', 'PARBHANI', 'PUNE', 'RAIGAD', 'RATNAGIRI', 'SANGLI',
       'SATARA', 'SINDHUDURG', 'SOLAPUR', 'THANE', 'WARDHA', 'WASHIM',
       'YAVATMAL', 'MUMBAI SUBURBAN']

In [4]:
dfs = []  # list to collect all df_req

for f in csv_files:
    df = pd.read_csv(f"{folder_path}/{f}")
    model = f.split('_')[0]
    
    try:
        df_req = df[['district', 'date', 'actual', 'forecast']]
    except KeyError:
        if model == 'bayesian':
            df_req = df[['district', 'date', 'actual', 'forecast_mean']]
            df_req = df_req.rename(columns={'forecast_mean': 'forecast'})  # optional: standardize column name
    df_req['model'] = model 
    dfs.append(df_req)  # collect the processed df_req

# After the loop, concatenate all collected dfs
final_df = pd.concat(dfs, ignore_index=True)

            
        
    # print(df_req.shape)

C:\Users\nauti\AppData\Local\Temp\ipykernel_18788\2311738704.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_req['model'] = model
C:\Users\nauti\AppData\Local\Temp\ipykernel_18788\2311738704.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_req['model'] = model

In [5]:
final_df.columns

Index(['district', 'date', 'actual', 'forecast', 'model'], dtype='object')

In [6]:
final_df = final_df[['model','district', 'date', 'actual', 'forecast']]

In [7]:
final_df['model'] = final_df['model'].str.upper()  # Convert district names to uppercase

In [8]:
final_df.columns

Index(['model', 'district', 'date', 'actual', 'forecast'], dtype='object')

In [9]:
import numpy as np
import pandas as pd

# Assuming 'final_df' already loaded, with columns: ['district', 'date', 'actual', 'forecast', 'model']

# Empty list to collect results
results = []

districts = final_df['district'].unique()
models = final_df['model'].unique()

for district in districts:
    for model in models:
        temp_df = final_df[(final_df['district'] == district) & (final_df['model'] == model)]
        if not temp_df.empty:
            rmse = np.sqrt(((temp_df['forecast'] - temp_df['actual'])**2).mean())
            results.append({
                'district': district,
                'model': model,
                'RMSE': rmse
            })

# Create DataFrame
rmse_df = pd.DataFrame(results)

# Sort if you want
rmse_df = rmse_df.sort_values(by=['district', 'RMSE'])

# See top results
print(rmse_df.head())

      district    model        RMSE
0   AHMEDNAGAR      ANN  669.757495
19  AHMEDNAGAR  XGBOOST  675.055056
5   AHMEDNAGAR       ET  715.481323
3   AHMEDNAGAR       DT  720.184856
15  AHMEDNAGAR       RF  809.974570

In [10]:
rmse_df[rmse_df.district == "THANE"].sort_values(by='RMSE', ascending=True)

    district       model         RMSE
633    THANE      LINEAR  2419.483607
625    THANE  ELASTICNET  2419.493796
629    THANE       HUBER  2516.256146
631    THANE       LASSO  2560.953500
636    THANE       RIDGE  2560.972327
638    THANE       TBATS  2726.684249
627    THANE         EXP  2727.980156
637    THANE      SARIMA  2740.067308
622    THANE       ARIMA  2740.067308
635    THANE          RF  2870.719049
623    THANE    BAYESIAN  2922.794263
628    THANE          GB  3098.178656
632    THANE        LGBM  3331.327167
639    THANE     XGBOOST  3353.933262
630    THANE         KNN  3416.947497
626    THANE          ET  3516.225972
634    THANE     PROPHET  3897.438479
624    THANE          DT  4811.048195

In [11]:
final_df['model'].unique()

array(['ANN', 'ARIMA', 'BAYESIAN', 'DT', 'ELASTICNET', 'ET', 'EXP', 'GB',
       'HUBER', 'KNN', 'LASSO', 'LGBM', 'LINEAR', 'LSTM', 'PROPHET', 'RF',
       'RIDGE', 'SARIMA', 'TBATS', 'XGBOOST'], dtype=object)

In [12]:
pivot_df = rmse_df.pivot(index='district', columns='model', values='RMSE')
print(pivot_df)

model                    ANN        ARIMA     BAYESIAN            DT  \
district
AHMEDNAGAR        669.757495  1085.764859  1147.891774    720.184856
AKOLA                    NaN   352.227870   640.715349    802.948150
AMRAVATI                 NaN   909.010384   527.651504    785.179135
AURANGABAD               NaN   323.389260   780.306644   1644.231845
BEED              397.369238   624.397807   442.698264    643.315675
BHANDARA                 NaN   306.393864   202.391842    346.467154
BULDHANA                 NaN   491.118764   335.927304    357.587825
CHANDRAPUR        325.574320   579.511060   363.024110    463.558040
DHULE             389.953024   366.238032   337.579786    298.564373
GADCHIROLI        188.185448   279.218066   174.882582    192.259094
GONDIA            223.214068   222.071523   202.753151    192.839888
HINGOLI           124.834672   174.280234   130.133429    137.009977
JALGAON                  NaN  3818.246972  3998.720655   4203.725190
JALNA                    NaN   704.930905   597.628012    440.121499
KOLHAPUR                 NaN  1114.718485  1915.220901  13236.012274
LATUR                    NaN   560.053926   330.282567    442.518158
MUMBAI                   NaN  2240.502741  1446.833971   1989.192587
MUMBAI SUBURBAN          NaN   861.715833  1106.264492   1102.553445
NAGPUR                   NaN   313.418793   474.047153    359.325673
NANDED           1026.898269  1331.762817   892.929641    864.909955
NANDURBAR                NaN   513.840345   400.259601    881.188868
NASHIK                   NaN   824.995788  1194.253490   3198.325114
OSMANABAD                NaN   369.907691   395.626255    356.632726
PALGHAR                  NaN   755.359850   477.495770    889.364337
PARBHANI          635.404889   485.002179   488.881944    460.494416
PUNE             1093.674333  1619.115775  1174.406530   1227.462315
RAIGAD                   NaN  1331.967814  1615.563022   2146.156511
RATNAGIRI         480.663356   409.092296   401.118280    449.558189
SANGLI            892.115264   889.306569   858.752204    739.859920
SATARA                   NaN   872.735378   962.662489   1507.880085
SINDHUDURG               NaN   100.745174    63.731363     93.263267
SOLAPUR                  NaN  1369.777683  1542.228881   2723.158737
THANE                    NaN  2740.067308  2922.794263   4811.048195
WARDHA                   NaN   154.054405   204.713415    607.974645
WASHIM            131.036006   123.826159    94.855822    106.443734
YAVATMAL          497.749566   741.175013   500.346237    633.305663

model             ELASTICNET           ET          EXP           GB  \
district
AHMEDNAGAR       1097.851674   715.481323  1090.853655   992.974957
AKOLA             493.705341  2557.750498   365.511742   340.533821
AMRAVATI          585.024690   498.382691   693.037587   508.949964
AURANGABAD        925.028301   767.328900   278.231234  1077.190950
BEED              398.231655   499.177875   427.816978   501.961897
BHANDARA          226.730336   252.070681   302.481108   231.026684
BULDHANA          469.183173   365.435666   345.234511   375.124854
CHANDRAPUR        310.762708   417.449756   575.895402   492.988278
DHULE             305.223755   355.727991   463.113568   343.269281
GADCHIROLI        165.859066   181.054911   427.194429   210.984912
GONDIA            165.647459   216.611514    54.658171   232.209136
HINGOLI           130.288139   107.983665   174.287796   110.164876
JALGAON          4310.645057  4039.999379  3817.192459  4026.513764
JALNA             827.080994   596.325159   453.426711   637.722687
KOLHAPUR         3326.044744  6114.080184  1116.629158  6946.869214
LATUR             346.162552   450.769065   579.171741   372.602107
MUMBAI            639.754000  1460.355663   750.856171  1312.298720
MUMBAI SUBURBAN  3662.684864  1710.190000  1239.450787  1323.964510
NAGPUR            536.048151   680.474989   302.329669   351.674611
NANDED            895.742732   899.901428  1240.242130   798.517610
NANDURBAR         451.145815   301.741571   519.602666   364.774206
NASHIK           1476.448787  1630.078503   832.864118  1087.488666
OSMANABAD         295.408629   298.700783   369.093353   329.191750
PALGHAR           491.705961   680.674485   627.863316   614.071139
PARBHANI          505.718138   457.559355   424.097346   496.903344
PUNE             1222.756816  2028.927867  1949.890885  1963.730302
RAIGAD           1861.353356  1773.460488   866.323043  1834.679706
RATNAGIRI         409.461082   451.744150   410.713989   511.574476
SANGLI            891.634108   820.038768   889.375484   833.758414
SATARA            690.910991   647.423871   458.029670   544.962164
SINDHUDURG         55.936380    95.651170    52.168779    60.051844
SOLAPUR          1504.624741  2128.734498  1369.009465  1806.954937
THANE            2419.493796  3516.225972  2727.980156  3098.178656
WARDHA            253.880951   277.788854   153.943556   216.044504
WASHIM             84.075784    96.337341   120.214390   137.864134
YAVATMAL          511.750990   463.128222   705.164167   650.801262

model                  HUBER          KNN        LASSO         LGBM  \
district
AHMEDNAGAR        865.745388   871.116192  1049.631856  1181.206097
AKOLA             285.248073   751.029911   749.328402   903.888026
AMRAVATI          438.501792   435.705518   846.524136  1063.717548
AURANGABAD        819.828257   691.908395   999.909238   714.047086
BEED              318.735053   382.287768   385.458293   443.221121
BHANDARA          222.769464   257.530805   220.182603   395.152286
BULDHANA          721.969910   325.828967   790.310850   217.499952
CHANDRAPUR        277.996913   431.766360   323.100506   390.017233
DHULE             305.336676   355.079353   334.725388   281.672997
GADCHIROLI        162.611663   162.551815   158.576934   351.981792
GONDIA            166.045994   195.741011   229.158747   187.963732
HINGOLI           135.543631   136.723844   131.930834   219.019221
JALGAON          4367.289151  3996.748029  4328.857213  3837.426157
JALNA             664.922936   607.526112   653.593274   488.709762
KOLHAPUR         1041.926730  2807.138303  3871.085760  2334.622820
LATUR             447.667278   556.412831   476.499603   564.704647
MUMBAI            712.309113  1781.443220   832.961437  1557.323505
MUMBAI SUBURBAN  4089.967775          NaN          NaN  1754.332462
NAGPUR            857.182209   850.766328   887.676131   607.264185
NANDED            990.128355   959.443043   974.913667  1037.463441
NANDURBAR         465.467921   416.803604   333.505152   905.912064
NASHIK           1288.150560   959.883804  1157.328691  1108.907079
OSMANABAD         430.643626   364.039145   255.158026   435.809177
PALGHAR           664.296584   582.545370   593.746148  1629.032422
PARBHANI          503.428550   469.052418   558.150101   473.556624
PUNE             1124.895013  1615.773384  1125.995489  4391.200195
RAIGAD           1960.403010  2080.469170  2024.967668   953.013444
RATNAGIRI         409.498376   464.226907   434.540858   378.928185
SANGLI            909.005207   851.636715   868.190978  1023.423844
SATARA            330.977165  1052.174013   920.847854  1577.183294
SINDHUDURG         55.857705    99.870554    86.998306    57.144224
SOLAPUR          1556.176475  1724.586740  1630.522221  1226.868374
THANE            2516.256146  3416.947497  2560.953500  3331.327167
WARDHA            224.843152   343.614368   272.369027   300.338334
WASHIM            101.405981   137.803130    86.221160   202.855074
YAVATMAL          475.542254   499.409404   457.065666   680.099144

model                 LINEAR         LSTM      PROPHET           RF  \
district
AHMEDNAGAR       1097.847303  1127.762052  2307.706581   809.974570
AKOLA             493.705353          NaN  1134.571713  1025.304876
AMRAVATI          584.960937          NaN   590.341942   582.620252
AURANGABAD        925.241857          NaN   476.607107   947.950727
BEED              398.216792   411.816136   658.839412   459.888392
BHANDARA          226.884401          NaN   240.737733   232.682436
BULDHANA          469.778890          NaN   302.028160   253.041191
CHANDRAPUR        310.741241   385.819551   300.775304   420.604959
DHULE             305.217189   291.380369   330.682820   316.282070
GADCHIROLI        165.829271   191.268198   200.330449   171.119057
GONDIA            165.687349   172.760530   186.652004   226.044326
HINGOLI           130.288139   176.389264   113.302131   106.531942
JALGAON          4310.924803          NaN  2113.665873  4011.249141
JALNA             827.290107          NaN   641.486294   587.619134
KOLHAPUR         3326.514191          NaN  1073.295843  8413.818376
LATUR             346.172581          NaN   258.789150   458.476374
MUMBAI            639.753007          NaN  3980.132922  1990.558982
MUMBAI SUBURBAN  3662.684874          NaN          NaN  1569.028370
NAGPUR            536.048153          NaN   270.891092   583.477247
NANDED            895.746756  1074.650847  1069.801148   862.563207
NANDURBAR         451.185703          NaN   274.063733   477.048744
NASHIK           1476.508679          NaN  1277.396959  1332.943629
OSMANABAD         295.229153          NaN   396.606963   284.633327
PALGHAR           491.719273          NaN   704.547470   736.455040
PARBHANI          505.740205   448.562722   691.053529   468.300239
PUNE             1222.750918  1359.240613  1062.391328  1441.804076
RAIGAD           1861.415172          NaN   675.066426  1665.532758
RATNAGIRI         409.467573   485.330428   327.188717   461.212080
SANGLI            891.651468   877.006986  1086.087499   822.877010
SATARA            690.948480          NaN  1213.755673  1105.190838
SINDHUDURG         56.010918          NaN   215.559030    70.691853
SOLAPUR          1504.646176          NaN  1792.939566  2357.573160
THANE            2419.483607          NaN  3897.438479  2870.719049
WARDHA            253.980271          NaN   421.861381   264.715840
WASHIM             84.066425   101.002165   223.779657    95.610636
YAVATMAL          511.759250   604.015814  1251.077973   517.527088

model                  RIDGE       SARIMA        TBATS      XGBOOST
district
AHMEDNAGAR       1049.618500  5666.622724  1089.161294   675.055056
AKOLA             749.761986  2296.056837   390.751123  1105.583786
AMRAVATI          847.305690   747.642973   975.331817   587.624886
AURANGABAD       1000.069429   323.389260   292.980149   895.346491
BEED              385.440053   719.529235   438.992871   478.629913
BHANDARA          220.377626   306.393864   299.537345   268.027622
BULDHANA          792.063596  1047.294959   333.125731   346.070215
CHANDRAPUR        323.082196   659.964008   575.648551   451.133296
DHULE             334.713394   585.547800   391.605086   358.004833
GADCHIROLI        158.515689   825.601602   298.565397   180.667759
GONDIA            229.257632   112.927317   208.198925   221.654553
HINGOLI           131.957234   174.280234   176.118079   135.775703
JALGAON          4329.103916  3818.246972  3819.599181  4057.086981
JALNA             653.382945   387.801647   498.239242   579.183136
KOLHAPUR         3871.246296  1327.270408   958.541262  9119.031282
LATUR             476.595489   470.373836   588.015407   558.574006
MUMBAI            833.055935   983.001272   732.372974  2388.893847
MUMBAI SUBURBAN          NaN          NaN  2007.225319          NaN
NAGPUR            887.831840   313.418793   301.689021   405.920633
NANDED            974.938676  1342.377832  1238.707279   860.491695
NANDURBAR         333.502357   513.840345   521.599471   485.937875
NASHIK           1157.433255   824.995788  1065.072835  1865.662262
OSMANABAD         254.898332   369.907691   403.375209   337.700590
PALGHAR           593.897917   687.315961   630.086139   723.802113
PARBHANI          558.425481   506.774676   527.570572   508.943656
PUNE             1125.996839  1619.115775  1951.333645  1842.545290
RAIGAD           2025.064818  1161.341453   996.607983   913.867457
RATNAGIRI         434.763031   409.092296   401.454009   445.822917
SANGLI            868.175602   889.306569   895.480527   820.525219
SATARA            920.881842   409.415768   365.864126   925.808975
SINDHUDURG         87.714966   156.975675    54.015516    93.323816
SOLAPUR          1630.666972  1446.995469  1390.512175  2531.604266
THANE            2560.972327  2740.067308  2726.684249  3353.933262
WARDHA            272.437841   154.054405   154.207737   273.742252
WASHIM             86.193347   120.645723    76.775790    81.562104
YAVATMAL          457.045069   741.175013   437.682535   462.748348

In [13]:
pivot_df.to_csv('I55_rmse_pivot.csv', index=True)

In [14]:
# Get the best model for each district (lowest RMSE)
best_models = rmse_df.loc[rmse_df.groupby('district')['RMSE'].idxmin()]

# Display the result
best_models[['district', 'model', 'RMSE']].to_csv('I55_best_models.csv', index=False)