In [1]:
import os
import pandas as pd

In [2]:
folder_path = 'Forecasts'  # Replace with your folder path
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

In [3]:
districts = ['AHMEDNAGAR', 'AKOLA', 'AMRAVATI', 'AURANGABAD', 'BEED',
       'BHANDARA', 'BULDHANA', 'CHANDRAPUR', 'DHULE', 'GADCHIROLI',
       'GONDIA', 'HINGOLI', 'JALGAON', 'JALNA', 'KOLHAPUR', 'LATUR',
       'MUMBAI', 'NAGPUR', 'NANDED', 'NANDURBAR', 'NASHIK', 'OSMANABAD',
       'PALGHAR', 'PARBHANI', 'PUNE', 'RAIGAD', 'RATNAGIRI', 'SANGLI',
       'SATARA', 'SINDHUDURG', 'SOLAPUR', 'THANE', 'WARDHA', 'WASHIM',
       'YAVATMAL', 'MUMBAI SUBURBAN']

In [4]:
dfs = []  # list to collect all df_req

for f in csv_files:
    df = pd.read_csv(f"{folder_path}/{f}")
    model = f.split('_')[0]
    
    try:
        df_req = df[['district', 'date', 'actual', 'forecast']]
    except KeyError:
        if model == 'bayesian':
            df_req = df[['district', 'date', 'actual', 'forecast_mean']]
            df_req = df_req.rename(columns={'forecast_mean': 'forecast'})  # optional: standardize column name
    df_req['model'] = model 
    dfs.append(df_req)  # collect the processed df_req

# After the loop, concatenate all collected dfs
final_df = pd.concat(dfs, ignore_index=True)

            
        
    # print(df_req.shape)

C:\Users\nauti\AppData\Local\Temp\ipykernel_46796\2311738704.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_req['model'] = model
C:\Users\nauti\AppData\Local\Temp\ipykernel_46796\2311738704.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_req['model'] = model

In [5]:
final_df.columns

Index(['district', 'date', 'actual', 'forecast', 'model'], dtype='object')

In [6]:
final_df = final_df[['model','district', 'date', 'actual', 'forecast']]

In [7]:
final_df['model'] = final_df['model'].str.upper()  # Convert district names to uppercase

In [8]:
final_df.columns

Index(['model', 'district', 'date', 'actual', 'forecast'], dtype='object')

In [9]:
import numpy as np
import pandas as pd

# Assuming 'final_df' already loaded, with columns: ['district', 'date', 'actual', 'forecast', 'model']

# Empty list to collect results
results = []

districts = final_df['district'].unique()
models = final_df['model'].unique()

for district in districts:
    for model in models:
        temp_df = final_df[(final_df['district'] == district) & (final_df['model'] == model)]
        if not temp_df.empty:
            rmse = np.sqrt(((temp_df['forecast'] - temp_df['actual'])**2).mean())
            results.append({
                'district': district,
                'model': model,
                'RMSE': rmse
            })

# Create DataFrame
rmse_df = pd.DataFrame(results)

# Sort if you want
rmse_df = rmse_df.sort_values(by=['district', 'RMSE'])

# See top results
print(rmse_df.head())

      district   model       RMSE
17  AHMEDNAGAR  SARIMA  47.241465
18  AHMEDNAGAR   TBATS  55.725705
6   AHMEDNAGAR     EXP  58.619809
13  AHMEDNAGAR    LSTM  64.807089
5   AHMEDNAGAR      ET  75.739043

In [10]:
rmse_df[rmse_df.district == "THANE"].sort_values(by='RMSE', ascending=True)

    district       model        RMSE
681    THANE      SARIMA  147.533486
671    THANE         EXP  171.080022
682    THANE       TBATS  171.700118
683    THANE     XGBOOST  188.334314
670    THANE          ET  222.276622
680    THANE       RIDGE  237.731461
675    THANE       LASSO  237.760748
669    THANE  ELASTICNET  242.095173
677    THANE      LINEAR  242.127446
668    THANE          DT  243.375265
673    THANE       HUBER  253.223914
667    THANE    BAYESIAN  262.598543
672    THANE          GB  281.571523
679    THANE          RF  312.611783
678    THANE     PROPHET  315.606533
666    THANE       ARIMA  357.618481
676    THANE        LGBM  375.452380
674    THANE         KNN  382.395383

In [11]:
final_df['model'].unique()

array(['ANN', 'ARIMA', 'BAYESIAN', 'DT', 'ELASTICNET', 'ET', 'EXP', 'GB',
       'HUBER', 'KNN', 'LASSO', 'LGBM', 'LINEAR', 'LSTM', 'PROPHET', 'RF',
       'RIDGE', 'SARIMA', 'TBATS', 'XGBOOST'], dtype=object)

In [12]:
pivot_df = rmse_df.pivot(index='district', columns='model', values='RMSE')
print(pivot_df)

model                   ANN       ARIMA    BAYESIAN          DT  ELASTICNET  \
district
AHMEDNAGAR       108.881629   91.875613   93.433481   91.692174   86.459827
AKOLA            119.307028   73.872301   67.458159  139.676709   62.995440
AMRAVATI                NaN  148.886267  416.923628  315.672295  435.600109
AURANGABAD              NaN  175.506416  326.658386  662.820712  330.856543
BEED             116.844019  145.280463  111.555790   59.478769   71.464789
BHANDARA          79.661767   68.396394   53.240374   63.581333   55.437781
BULDHANA          48.689003   50.066425   44.563284   55.143964   43.753492
CHANDRAPUR              NaN   86.718562  214.025344  310.585575  220.911148
DHULE            151.888580  148.578780  119.714471   98.357404  108.183152
GADCHIROLI              NaN   47.939407  104.054289   99.369000   86.671298
GONDIA                  NaN   62.270707  132.880879   87.992577  158.271643
HINGOLI           99.700744   64.623680   79.588306   84.252350   91.081108
JALGAON          194.192052  112.536664  121.813514  110.768930  117.656811
JALNA            196.968283   90.936803   63.913608   61.423044   49.275592
KOLHAPUR         104.636811   85.042459   88.206163  125.288650   87.025077
LATUR            118.861554  148.356749  137.225104  118.389146  111.961949
MUMBAI                  NaN  600.779638  206.974270  559.750176  223.795814
MUMBAI SUBURBAN         NaN  203.211831  127.330114  218.235983  124.179007
NAGPUR           263.697858  222.470763  247.198871  139.086048  195.030911
NANDED            77.343484   71.747563   67.095649   56.837785   67.430162
NANDURBAR        103.544792   92.548903   62.146825   73.202748   55.492625
NASHIK           124.992268  120.950293   77.409445  140.136118   84.952205
OSMANABAD         48.027164   38.187369   37.883607   41.703764   37.256105
PALGHAR          175.026758  130.036062  130.486644  166.320618  132.514017
PARBHANI          64.473550   82.093969   61.197678   77.707002   66.763333
PUNE             275.588111  399.714202  239.027514  180.035465  400.317157
RAIGAD            83.517411   84.236062   72.505069   95.109562   67.762436
RATNAGIRI               NaN   70.609489  218.654555  171.940150  215.234584
SANGLI           124.385428   84.393726   82.663668   88.567744   77.788458
SATARA           132.269642  135.608161  127.205617  149.646032  124.286232
SINDHUDURG        26.108263   21.190730   22.228006   30.368880   21.071701
SOLAPUR          110.397044  100.725144   91.204540  144.708705   98.238574
THANE                   NaN  357.618481  262.598543  243.375265  242.095173
WARDHA            60.507998   52.214943   50.113593   60.690712   50.586119
WASHIM            28.605293   20.589641   21.858790   27.828783   21.172195
YAVATMAL          50.938594   45.941468   25.900866   43.840937   24.957413

model                    ET         EXP           GB       HUBER         KNN  \
district
AHMEDNAGAR        75.739043   58.619809   131.677070   81.647353   94.401264
AKOLA             65.038350   74.043272    87.290967   69.864608   79.687722
AMRAVATI         273.130104  182.958179   280.095079  440.577890  186.197163
AURANGABAD       530.879900  240.225587   336.921174  308.153376  337.703271
BEED              69.024560   50.760158   116.237134   65.345810   47.120742
BHANDARA          72.833749   86.794709    85.035162   54.653266   49.274469
BULDHANA          47.319176   65.667608    56.682372   43.236031   46.342973
CHANDRAPUR       175.293718   94.447052   247.205954  275.219855  123.011169
DHULE            121.932678  101.108669   141.271139  108.448410  149.404309
GADCHIROLI        68.257381  117.741242    87.930874   85.769389   60.615465
GONDIA           151.598114   74.959939   132.629129  129.921014   93.686263
HINGOLI           83.537757   62.893166    65.611369   89.690433   69.047652
JALGAON          125.032120  112.756933   122.639653  120.961342  135.812810
JALNA             66.724042  129.081845    48.092591   48.198386   53.344392
KOLHAPUR          89.996288   85.043020    92.940259   87.737851   85.209417
LATUR            109.938886  121.281866   151.813271  124.608016  146.701701
MUMBAI           346.490017  149.038952  1168.601862  223.382800  131.634140
MUMBAI SUBURBAN  236.500168  203.211802   179.413161  119.052013  187.913840
NAGPUR           267.217992  128.346931   145.525253  181.999659  221.427906
NANDED            54.085266   82.037978    59.197081   59.621099   65.636047
NANDURBAR         75.111596  143.319531    78.511379   55.540525   92.415829
NASHIK           117.862378  193.969085   102.304526   85.942027  131.025511
OSMANABAD         35.423362   38.580594    39.054742   39.597199   38.545523
PALGHAR          157.706987  143.966527   143.507386  150.508445  141.917778
PARBHANI          73.384787   98.587892    80.615678   71.952437   71.678810
PUNE             252.899236  140.101607   243.824354  257.741517  395.110923
RAIGAD            90.631737   99.205280    87.693429   55.687468   90.470285
RATNAGIRI        191.393368   70.554621   219.516448  208.983937  231.867803
SANGLI           109.143149   83.039245    95.473053   75.210537   97.663675
SATARA           123.557308  139.648674   133.558237  122.308760  122.474126
SINDHUDURG        25.138581   21.190740    21.864174   21.004754   23.431121
SOLAPUR           81.316334  204.290534   103.585627  124.283589  121.560703
THANE            222.276622  171.080022   281.571523  253.223914  382.395383
WARDHA            55.263763   58.219162    57.848776   50.241403   55.502222
WASHIM            20.881446   19.688431    20.453376   21.639198   25.014564
YAVATMAL          24.039976   42.576977    36.514733   25.049299   20.199390

model                 LASSO        LGBM      LINEAR        LSTM     PROPHET  \
district
AHMEDNAGAR        77.007590  130.292120   86.561445   64.807089  106.650138
AKOLA             58.271448   79.923930   62.948154   68.492475  156.373992
AMRAVATI         467.839755  962.382486  435.721334         NaN  400.231600
AURANGABAD       435.909873  220.018350  330.874347         NaN  194.376689
BEED              81.889402   49.773799   71.387530  142.631048  310.447908
BHANDARA          55.323869   90.195033   55.465238   58.377608   80.702228
BULDHANA          45.877890   51.044207   43.764661   63.937002   62.148007
CHANDRAPUR       237.841535  212.102418  221.263405         NaN   76.723385
DHULE            109.936043  107.828241  108.252030  106.722879  173.262054
GADCHIROLI       126.433423   82.666154   86.393003         NaN   62.610818
GONDIA           116.868595   56.694789  158.769357         NaN   40.647176
HINGOLI           91.359053   84.545685   91.391457   67.560201   93.822874
JALGAON          120.876841  115.739847  117.663791  128.405259  164.972888
JALNA             70.260128   60.690538   49.199566   55.078153  197.390937
KOLHAPUR          90.689411   87.437421   87.014977   91.618241  139.771282
LATUR            119.897061  105.733113  112.037045  105.519987  129.372824
MUMBAI           165.939101  452.840040  224.010195         NaN  839.732622
MUMBAI SUBURBAN         NaN  217.072952  124.143470         NaN         NaN
NAGPUR           241.847322  353.082757  195.032990  219.537936  290.477584
NANDED            67.508182  131.148627   67.430161   79.511389  135.840473
NANDURBAR         61.043282   79.381491   55.391402   76.161485   83.587350
NASHIK            81.474761  150.630858   84.925959  119.064731   79.773413
OSMANABAD         37.946797   47.314008   37.492386   36.196490   23.155860
PALGHAR          125.521664  162.738060  132.492257  137.679605  170.526489
PARBHANI          64.699157   89.776150   66.924359   63.014573   42.663790
PUNE             208.010978  732.058566  400.300426  235.676180  535.252476
RAIGAD            66.323567   76.717651   67.727457   79.889488   54.941082
RATNAGIRI        217.514525   75.687483  215.128066         NaN   68.050690
SANGLI            83.541127   64.930703   77.790383   98.646024  300.658141
SATARA           120.185001  135.856228  124.312497  141.972038  165.687818
SINDHUDURG        21.154175   20.596367   21.003867   21.109034   21.942750
SOLAPUR          104.619881  103.080380   98.270383   98.145595  174.771639
THANE            237.760748  375.452380  242.127446         NaN  315.606533
WARDHA            49.809316   74.295668   50.591603   57.860789   56.470264
WASHIM            26.392119   45.307206   21.184196   20.442027   34.831177
YAVATMAL          23.090619   31.188947   24.900824   31.726979   61.444873

model                    RF       RIDGE      SARIMA       TBATS     XGBOOST
district
AHMEDNAGAR        83.175733   76.959356   47.241465   55.725705   82.027491
AKOLA             88.487854   58.186014  432.914888   69.746354   71.936412
AMRAVATI         192.187358  468.016449  153.269696  230.151812  182.362092
AURANGABAD       417.007666  436.290519  274.625659  240.283369  525.390304
BEED              54.648766   81.853469  269.821014   50.735351   58.949494
BHANDARA          76.864851   55.703810   53.134603   86.031068   83.319426
BULDHANA          46.010277   45.967963   64.161004   52.076336   47.658296
CHANDRAPUR       156.665027  237.806253  252.338174   95.884905  191.255513
DHULE             98.586914  110.028687  271.779117  154.978503  117.895597
GADCHIROLI        78.353848  127.066264   43.414866   87.935095   76.524209
GONDIA           102.944196  117.178158   66.500074   76.309930  142.860571
HINGOLI           72.354446   92.269741  147.080729   95.863141   88.962694
JALGAON          120.230104  120.779969  112.536664  111.463868  121.524148
JALNA             61.666489   70.390942  251.519979   97.775081   65.910572
KOLHAPUR          89.398774   90.806019  198.852096   83.250951   89.760586
LATUR            108.662826  120.069824  402.312276  134.439581  113.236743
MUMBAI           334.665377  165.901132  994.727529  148.981581  378.803991
MUMBAI SUBURBAN  188.225911         NaN         NaN  197.430146         NaN
NAGPUR           173.488894  241.851652  155.595412  128.394969  247.523646
NANDED            45.487605   67.537647  114.527831   98.197319   62.882971
NANDURBAR         70.414831   61.180599   92.768210  143.770719   87.617892
NASHIK           109.966271   81.428352  233.024428  119.924286  126.734753
OSMANABAD         36.810336   38.381637  181.006900   40.188243   33.874980
PALGHAR          188.163293  125.297103  130.036062  143.250560  190.011976
PARBHANI          71.426008   65.064495  103.366404   76.100044   76.482497
PUNE             218.794495  207.955598  194.987603  316.707463  178.205910
RAIGAD            83.254430   66.353877   63.256899   76.664593   90.079577
RATNAGIRI        219.347929  217.604959   70.609489   70.561141  282.947771
SANGLI            96.745230   83.520427   84.393726   85.658120  110.047431
SATARA           122.560832  120.366117  144.481305  135.499597  122.080076
SINDHUDURG        24.515526   20.882616  113.542063   22.744487   29.267238
SOLAPUR           81.918194  104.785649   76.457072  120.000487   81.424560
THANE            312.611783  237.731461  147.533486  171.700118  188.334314
WARDHA            57.682100   49.745797   83.511747   73.971149   65.080997
WASHIM            25.071674   26.372547   50.212299   20.177757   23.990022
YAVATMAL          28.531404   22.877383   60.604816   30.457875   33.944509

In [13]:
pivot_df.to_csv('I48_rmse_pivot.csv', index=True)

In [14]:
# Get the best model for each district (lowest RMSE)
best_models = rmse_df.loc[rmse_df.groupby('district')['RMSE'].idxmin()]

# Display the result
best_models[['district', 'model', 'RMSE']].to_csv('I48_best_models.csv', index=False)