In [1]:
import os
import pandas as pd

In [2]:
folder_path = 'Forecasts'  # Replace with your folder path
csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

In [3]:
districts = ['AHMEDNAGAR', 'AKOLA', 'AMRAVATI', 'AURANGABAD', 'BEED',
       'BHANDARA', 'BULDHANA', 'CHANDRAPUR', 'DHULE', 'GADCHIROLI',
       'GONDIA', 'HINGOLI', 'JALGAON', 'JALNA', 'KOLHAPUR', 'LATUR',
       'MUMBAI', 'NAGPUR', 'NANDED', 'NANDURBAR', 'NASHIK', 'OSMANABAD',
       'PALGHAR', 'PARBHANI', 'PUNE', 'RAIGAD', 'RATNAGIRI', 'SANGLI',
       'SATARA', 'SINDHUDURG', 'SOLAPUR', 'THANE', 'WARDHA', 'WASHIM',
       'YAVATMAL', 'MUMBAI SUBURBAN']

In [4]:
dfs = []  # list to collect all df_req

for f in csv_files:
    df = pd.read_csv(f"{folder_path}/{f}")
    model = f.split('_')[0]
    
    try:
        df_req = df[['district', 'date', 'actual', 'forecast']]
    except KeyError:
        if model == 'bayesian':
            df_req = df[['district', 'date', 'actual', 'forecast_mean']]
            df_req = df_req.rename(columns={'forecast_mean': 'forecast'})  # optional: standardize column name
    df_req['model'] = model 
    dfs.append(df_req)  # collect the processed df_req

# After the loop, concatenate all collected dfs
final_df = pd.concat(dfs, ignore_index=True)

            
        
    # print(df_req.shape)

C:\Users\nauti\AppData\Local\Temp\ipykernel_41336\2311738704.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_req['model'] = model
C:\Users\nauti\AppData\Local\Temp\ipykernel_41336\2311738704.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_req['model'] = model

In [5]:
final_df.columns

Index(['district', 'date', 'actual', 'forecast', 'model'], dtype='object')

In [6]:
final_df = final_df[['model','district', 'date', 'actual', 'forecast']]

In [7]:
final_df['model'] = final_df['model'].str.upper()  # Convert district names to uppercase

In [8]:
final_df.columns

Index(['model', 'district', 'date', 'actual', 'forecast'], dtype='object')

In [9]:
import numpy as np
import pandas as pd

# Assuming 'final_df' already loaded, with columns: ['district', 'date', 'actual', 'forecast', 'model']

# Empty list to collect results
results = []

districts = final_df['district'].unique()
models = final_df['model'].unique()

for district in districts:
    for model in models:
        temp_df = final_df[(final_df['district'] == district) & (final_df['model'] == model)]
        if not temp_df.empty:
            rmse = np.sqrt(((temp_df['forecast'] - temp_df['actual'])**2).mean())
            results.append({
                'district': district,
                'model': model,
                'RMSE': rmse
            })

# Create DataFrame
rmse_df = pd.DataFrame(results)

# Sort if you want
rmse_df = rmse_df.sort_values(by=['district', 'RMSE'])

# See top results
print(rmse_df.head())

      district       model       RMSE
1   AHMEDNAGAR       ARIMA  15.129452
17  AHMEDNAGAR       TBATS  15.505437
6   AHMEDNAGAR         EXP  15.746770
2   AHMEDNAGAR    BAYESIAN  15.812603
4   AHMEDNAGAR  ELASTICNET  16.187799

In [10]:
rmse_df[rmse_df.district == "THANE"].sort_values(by='RMSE', ascending=True)

    district       model       RMSE
644    THANE          RF  10.941329
648    THANE     XGBOOST  11.472098
638    THANE          GB  11.933597
640    THANE         KNN  13.508375
633    THANE    BAYESIAN  14.221095
646    THANE      SARIMA  14.806250
636    THANE          ET  16.418379
635    THANE  ELASTICNET  17.216445
642    THANE      LINEAR  17.322603
641    THANE       LASSO  17.705485
634    THANE          DT  18.410427
645    THANE       RIDGE  18.491325
647    THANE       TBATS  21.271827
637    THANE         EXP  21.296688
632    THANE       ARIMA  22.827099
639    THANE       HUBER  22.972122
643    THANE     PROPHET  38.729046

In [11]:
final_df['model'].unique()

array(['ANN', 'ARIMA', 'BAYESIAN', 'DT', 'ELASTICNET', 'ET', 'EXP', 'GB',
       'HUBER', 'KNN', 'LASSO', 'LINEAR', 'LSTM', 'PROPHET', 'RF',
       'RIDGE', 'SARIMA', 'TBATS', 'XGBOOST'], dtype=object)

In [12]:
pivot_df = rmse_df.pivot(index='district', columns='model', values='RMSE')
print(pivot_df)

model                  ANN      ARIMA   BAYESIAN         DT  ELASTICNET  \
district
AHMEDNAGAR       22.172191  15.129452  15.812603  20.357996   16.187799
AKOLA            13.246209   8.658511  11.008634  11.100983   10.188539
AMRAVATI         20.110462  18.018413  17.324720  21.698651   17.981397
AURANGABAD             NaN  14.539093  15.362882  36.089026   15.122201
BEED             13.173882   8.959206   8.098236  14.492909    7.644393
BHANDARA          3.621990   4.698549   4.649879   4.331396    4.630915
BULDHANA               NaN   5.461617   8.461511   6.033855    9.847896
CHANDRAPUR       14.910383  13.504074  14.586615  17.311605   14.263178
DHULE             9.215523  19.530972  12.637071   8.401389   13.480603
GADCHIROLI       10.019171  10.804322   9.225120   7.220514    9.361654
GONDIA            9.066511   7.288154   7.087232   8.046934    7.195237
HINGOLI           5.555481   4.328048   3.721333   6.776172    3.991515
JALGAON          17.573338  13.283692  10.481543  11.315725   10.107893
JALNA             7.072441   5.773352   6.326275   6.707303    6.247413
KOLHAPUR         12.454680   7.460513   7.748103  12.954260    7.546380
LATUR            20.804432  15.071106  19.379418  16.556819   16.987755
MUMBAI                 NaN  28.622121  14.421965  39.176861   22.592465
MUMBAI SUBURBAN        NaN  21.664098   5.430291   2.828427    2.107364
NAGPUR           18.308828  21.103560  15.311633  20.340810   16.471669
NANDED                 NaN   9.886470  16.823654  34.371982   13.311280
NANDURBAR         9.505526  11.726903   9.280757  10.793461    9.065029
NASHIK           17.650423  19.143320  15.865218  19.349388   16.328382
OSMANABAD         7.564222   6.475899   6.069095   9.074824    6.368029
PALGHAR                NaN   9.433048  10.681327  17.627644   10.546623
PARBHANI         10.456358   7.683860   8.595500   8.944962    8.971609
PUNE                   NaN  15.381943  30.127722  83.276321   48.060263
RAIGAD            8.908100   7.574998   8.658585   6.991093    7.979311
RATNAGIRI         6.545051   5.958408   5.979400   6.303327    6.470791
SANGLI            9.865658   8.234393   8.378880  10.093649    8.272416
SATARA            9.979604   7.110935   6.886838   8.994460    7.040821
SINDHUDURG        3.212586   2.635077   2.615488   3.306099    2.764697
SOLAPUR                NaN  26.444329  46.571985  32.006377   45.015942
THANE                  NaN  22.827099  14.221095  18.410427   17.216445
WARDHA            5.454831   3.084118   3.631208   3.715272    3.566065
WASHIM            3.662648   4.062309   4.205410   4.272823    4.300689
YAVATMAL          6.661442   6.743906   6.683218   6.573519    6.670737

model                   ET        EXP         GB      HUBER        KNN  \
district
AHMEDNAGAR       18.156512  15.746770  18.675721  18.124588  18.338960
AKOLA            11.288508   9.123854  15.135380   9.059014  10.775273
AMRAVATI         16.412041  18.419143  19.265727  18.304991  15.780883
AURANGABAD       24.465833  13.761024  12.929618  14.981617  15.076121
BEED             12.754083  10.556182  10.443663   7.618740  10.059767
BHANDARA          4.733487   4.706819   5.094373   4.224697   4.090252
BULDHANA          6.537199   6.660641   4.881088   7.584588   5.982122
CHANDRAPUR       16.574094  13.069718  14.325028  12.600500  13.386673
DHULE             8.475430  22.618992  14.430181  13.200732  15.802419
GADCHIROLI        9.276196  13.185114  10.406601   8.559979  10.476020
GONDIA            6.204739  10.262148   7.236740   6.648324   6.902062
HINGOLI           5.123973   4.756426   3.597139   4.033123   3.872098
JALGAON          14.774289  15.106551  11.842224  10.218157  15.502467
JALNA             6.123820   5.139343   6.161636   6.144949   5.577119
KOLHAPUR         11.677548   7.723258   9.986999   7.747516  11.804050
LATUR            15.220893  16.355685  15.062114  19.367652  15.129314
MUMBAI           25.814766  29.320891  21.793618  18.230852  15.560940
MUMBAI SUBURBAN   4.140000  21.663956  12.670305   8.218117        NaN
NAGPUR           12.726807  16.879135  14.943680  17.521415  20.138103
NANDED           23.861742   9.888448  17.052798  13.474848   9.953641
NANDURBAR         8.884784  13.009235  10.616853   9.140144   9.399892
NASHIK           15.878418  19.972943  18.045641  16.042243  16.138502
OSMANABAD         7.444877   6.487320   6.712772   5.142602   6.793849
PALGHAR          13.802179   9.403873  10.525127  12.155571  10.411031
PARBHANI          8.577436   6.820048   9.306772   9.735522   8.173278
PUNE             46.164946  15.368853  91.554321  44.050655  66.578747
RAIGAD            6.910381   8.393771  12.554847   9.116054   7.735245
RATNAGIRI         6.806615   5.862311   6.318391   5.719087   6.170942
SANGLI            9.105061   8.007260   8.115951   8.254090   9.115005
SATARA            7.529322   7.644600   7.286271   5.884576   6.746293
SINDHUDURG        2.625414   2.635077   2.777081   3.077831   2.535617
SOLAPUR          41.689484  24.035576  34.515163  45.998701  28.253148
THANE            16.418379  21.296688  11.933597  22.972122  13.508375
WARDHA            3.197607   3.769438   3.456076   3.965626   3.454775
WASHIM            4.015007   4.133104   4.140492   4.653926   4.382438
YAVATMAL          5.558273   5.999371   6.420601   6.877693   7.788279

model                LASSO     LINEAR       LSTM    PROPHET         RF  \
district
AHMEDNAGAR       16.593827  17.326589  17.864346  27.327659  18.572926
AKOLA            10.143111   9.307148  10.153137  15.161541  10.111420
AMRAVATI         16.431703  18.403094  19.058925  15.103523  17.255602
AURANGABAD       16.313862  15.152805        NaN  18.383754  18.324962
BEED              8.392269   7.644339   9.531146  25.027182  10.609611
BHANDARA          5.014245   4.152846   4.489181   8.611950   5.200526
BULDHANA          7.237943  10.861012        NaN  13.218005   6.029538
CHANDRAPUR       14.057513  12.990630  13.997263  14.651556  17.272486
DHULE            12.309312  13.556639  11.814270  15.937492   9.029334
GADCHIROLI        8.996723   8.368714  11.011259  10.391169   8.789053
GONDIA            5.755539   6.626647   7.756543   8.463970   6.541360
HINGOLI           3.663499   4.177311   4.536266   8.820630   4.796461
JALGAON           9.917006  10.064882   9.698700  11.470661  12.085697
JALNA             6.007966   6.342173   5.855421   8.894430   6.264406
KOLHAPUR          7.570897   7.747126   8.692778  13.800606  10.489408
LATUR            15.039492  19.486094  16.513533  11.768391  15.596757
MUMBAI           15.630041  23.104731        NaN  34.571116  18.046228
MUMBAI SUBURBAN        NaN   2.137691        NaN        NaN  11.716761
NAGPUR           16.822285  16.878969  14.066842  26.710420  15.630633
NANDED           12.524215  13.816517        NaN  17.021768  17.932024
NANDURBAR         8.377209   9.065023  10.552229  11.771978   9.376264
NASHIK           14.369985  16.343854  16.233714  13.680144  15.270656
OSMANABAD         6.904495   5.906876   7.593484   5.778875   7.604188
PALGHAR          10.430798  12.300742        NaN   7.589275  10.983591
PARBHANI          8.599609   9.417901   7.852515   7.303916   8.168241
PUNE             48.272076  49.177784        NaN  25.729054  79.819237
RAIGAD            7.929797   8.566701   8.369539  14.804661   6.264076
RATNAGIRI         6.598272   5.778223   6.336752   6.118277   6.067842
SANGLI            8.878131   8.278960   8.298433  16.188273   9.721800
SATARA            5.807458   6.177046   6.880472  12.305945   6.622704
SINDHUDURG        2.703315   3.051089   2.821759   2.279158   2.766853
SOLAPUR          44.876587  48.289015        NaN  25.892463  34.982535
THANE            17.705485  17.322603        NaN  38.729046  10.941329
WARDHA            3.555797   3.777699   3.855565   4.398701   3.059992
WASHIM            4.279409   4.444859   4.146122   4.481031   4.288310
YAVATMAL          7.591400   6.867230   7.221711   8.321785   5.674561

model                RIDGE     SARIMA      TBATS    XGBOOST
district
AHMEDNAGAR       17.741361  44.655707  15.505437  19.845641
AKOLA             9.787856   7.486620   7.909961  12.157114
AMRAVATI         16.813449  18.424580  18.852219  17.263913
AURANGABAD       17.214690  13.379974  13.874933  22.522848
BEED              8.250240   6.259098  11.555177  11.311683
BHANDARA          3.915104  10.944105   5.292560   5.054288
BULDHANA         10.608720   4.185732   6.814179   6.263017
CHANDRAPUR       12.753373  24.948774  13.878325  16.667934
DHULE            12.514971  25.975183  22.347387   8.869662
GADCHIROLI        8.095776  15.792317  10.357995   8.939430
GONDIA            5.783593   6.080569  10.277773   6.582258
HINGOLI           4.163083   6.808063   4.430382   6.321507
JALGAON          10.171483   8.682596  15.110049  15.776233
JALNA             6.195857   5.901063   5.139870   7.172412
KOLHAPUR          8.065967  13.695313   7.730465  11.542225
LATUR            21.588793  28.188352  15.149825  15.390190
MUMBAI           16.002939  79.276412  45.297522  42.147137
MUMBAI SUBURBAN        NaN        NaN  22.125937        NaN
NAGPUR           17.202744  19.742798  20.622659  11.932834
NANDED           17.316582   9.886470  10.078454  23.564272
NANDURBAR         8.383733  10.599240  11.948668   9.250211
NASHIK           13.877319  19.198619  19.838930  16.341154
OSMANABAD         7.174169   6.475899   6.486947   6.635976
PALGHAR          17.460516   9.593615   9.543143  16.250355
PARBHANI          8.452358   7.195012   6.841699   8.315247
PUNE             51.440046  15.381943  39.403136  72.595926
RAIGAD            9.015407   7.574998   8.471186   7.832076
RATNAGIRI         6.348528  11.233881   5.884242   6.703971
SANGLI           10.515005  24.073515   9.437454   9.477642
SATARA            5.500248   6.664890   7.436639   6.651128
SINDHUDURG        2.762357   6.640783   2.625102   3.124647
SOLAPUR          53.180831  24.271382  23.850503  46.092195
THANE            18.491325  14.806250  21.271827  11.472098
WARDHA            3.771499   8.683317   3.767895   2.974991
WASHIM            4.245955   9.813465   4.029325   3.882599
YAVATMAL          7.691609   6.883276   5.912422   6.145332

In [13]:
pivot_df.to_csv('I40_rmse_pivot.csv', index=True)

In [14]:
# Get the best model for each district (lowest RMSE)
best_models = rmse_df.loc[rmse_df.groupby('district')['RMSE'].idxmin()]

# Display the result
best_models[['district', 'model', 'RMSE']].to_csv('I40_best_models.csv', index=False)